body {
    background-color: #7d7d7d;
}

@media (min-width : 992px) {
    .navbar {
        min-height: 100vh;
        width: 240px;
        background:linear-gradient(rgba(25, 22, 22, 0.85),rgba(125, 125, 125, 0.8)), url(../image/bg.jpeg);
        background-size: cover;
        background-position: center;
        color-fon;
    }
    
}